@font-family {
  font-family: 'CaskaydiaCove NF SemiBold';
  /* Use a relative path to the local font file in `url()`. */
  src: url('/fonts/Cas.ttf') format('truetype');
}

* {
  font-family: "CaskaydiaCove NF SemiBold" !important;
}
