@font-face {
  font-family: 'CaskaydiaCove Nerd Font';
  /* Use a relative path to the local font file in `url()`. */
  src: url('/fonts/Cas.ttf') format('truetype');
}

* {
  font-family: "CaskaydiaCove Nerd Font" !important;
}
