@font-face {
  font-family: 'CaskaydiaCove Nerd Font';
  /* Use a relative path to the local font file in `url()`. */
  src: url('./Cas.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
